Repository alxjrvs/SUIndex: changes, and which lint-staged commands are due for each by the changed paths.
All: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Refine scripts
  .github/workflows/ci.yml
  bun.lock
  package.json
Due: none

Enhance abilities and equipment data: Added grants for 'Survey Drone'… (#68)
  packages/salvageunion-reference/data/abilities.json
  packages/salvageunion-reference/data/equipment.json
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

WIP
  apps/suref-web/src/components/PilotLiveSheet/PilotInventory.tsx
  apps/suref-web/src/hooks/pilot/useManagePilotEquipmentSystemsAndModules.tsx
  packages/salvageunion-reference/.vscode/settings.json
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
  packages/salvageunion-reference/schemas/index.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

WIP
  apps/suref-web/src/components/PilotLiveSheet/PilotInventory.tsx
  apps/suref-web/src/hooks/pilot/useManagePilotEquipmentSystemsAndModules.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Tweak (#69)
  apps/suref-web/src/components/PilotLiveSheet/PilotInventory.tsx
  apps/suref-web/src/hooks/pilot/useManagePilotEquipmentSystemsAndModules.tsx
  packages/salvageunion-reference/.vscode/settings.json
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
  packages/salvageunion-reference/schemas/index.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

SEO
  apps/suref-web/src/prerender.config.ts
  apps/suref-web/src/routes/schema/$schemaId/index.tsx
  apps/suref-web/src/routes/schema/$schemaId/item/$itemId.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

LintFix
  apps/suref-web/src/components/ItemShowPage.tsx
  apps/suref-web/src/components/Reference/RulesReferenceLanding.tsx
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Enhance item retrieval logic and improve slug handling across compone… (#70)
  apps/suref-web/src/components/ItemShowPage.tsx
  apps/suref-web/src/components/Reference/RulesReferenceLanding.tsx
  apps/suref-web/src/components/schema/SchemaViewer.tsx
  apps/suref-web/src/prerender.config.ts
  apps/suref-web/src/routes/schema/$schemaId/index.tsx
  apps/suref-web/src/routes/schema/$schemaId/item/$itemId.tsx
  apps/suref-web/src/utils/slug.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Regen
  packages/salvageunion-reference/eslint.config.js
  packages/salvageunion-reference/lib/types/common.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/utilities-action-getters.test.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
  packages/salvageunion-reference/lib/utils/resultForTable.test.ts
  packages/salvageunion-reference/package.json
  packages/salvageunion-reference/schemas/index.json
  packages/salvageunion-reference/tools/extractActions.ts
  packages/salvageunion-reference/tools/generateCommonTypes.ts
  packages/salvageunion-reference/tools/generateIndexFile.ts
  packages/salvageunion-reference/tools/generateObjectTypes.ts
  packages/salvageunion-reference/tools/generateSchemaDocs.ts
  packages/salvageunion-reference/tools/generateSchemaTypes.ts
  packages/salvageunion-reference/tools/generateTypeIndex.ts
  packages/salvageunion-reference/tools/generateUtilities.ts
  packages/salvageunion-reference/tools/generatorUtils.ts
  packages/salvageunion-reference/tools/schemaAnalysis.ts
  packages/salvageunion-reference/tools/validateReferences.ts
  packages/salvageunion-reference/tsconfig.json
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Fix copy
  apps/suref-web/src/routes/about.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Fix copy (#72)
  apps/suref-web/src/routes/about.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Bump
  bun.lock
Due: none

WIP
  apps/suref-web/src/components/entity/EntityDisplay/EntityActions.tsx
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

WIP
  packages/salvageunion-reference/lib/utilities-action-getters.test.ts
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Change cursor rules
  .cursor/rules/monorepo-patterns.mdc
  .cursor/rules/package-development.mdc
  .cursor/rules/react-components.mdc
  .cursor/rules/supabase-api.mdc
  .cursor/rules/tanstack-query-hooks.mdc
  .cursor/rules/tanstack-router.mdc
  .cursor/rules/testing-patterns.mdc
  .cursor/rules/typescript-style.mdc
Due: none

Fix Creatures (#73)
  .cursor/plans/fix-creature-content-and-image-rendering-570fd2a5.plan.md
  .cursor/rules/monorepo-patterns.mdc
  .cursor/rules/package-development.mdc
  .cursor/rules/react-components.mdc
  .cursor/rules/supabase-api.mdc
  .cursor/rules/tanstack-query-hooks.mdc
  .cursor/rules/tanstack-router.mdc
  .cursor/rules/testing-patterns.mdc
  .cursor/rules/typescript-style.mdc
  apps/suref-web/src/components/entity/EntityDisplay/EntityActions.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  bun.lock
  packages/salvageunion-reference/lib/utilities-action-getters.test.ts
  packages/salvageunion-reference/lib/utilities.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Fix Awkward Action Names
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/bio-titans.json
  packages/salvageunion-reference/data/equipment.json
  packages/salvageunion-reference/data/modules.json
  packages/salvageunion-reference/data/npcs.json
  packages/salvageunion-reference/data/squads.json
  packages/salvageunion-reference/data/systems.json
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
  packages/salvageunion-reference/schemas/actions.schema.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Fix Awkward Action Names (#74)
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/bio-titans.json
  packages/salvageunion-reference/data/equipment.json
  packages/salvageunion-reference/data/modules.json
  packages/salvageunion-reference/data/npcs.json
  packages/salvageunion-reference/data/squads.json
  packages/salvageunion-reference/data/systems.json
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
  packages/salvageunion-reference/schemas/actions.schema.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

WIP
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Mutli-select
  .cursor/plans/multi-select-choices-support-15b8e901.plan.md
  apps/suref-web/src/components/CrawlerLiveSheet/SheetEntityChoiceDisplay.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityChoice.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityListDisplay.tsx
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  apps/suref-web/src/hooks/suentity/useManageEntityChoices.ts
  apps/suref-web/src/hooks/suentity/usePlayerChoices.ts
  apps/suref-web/src/lib/api/playerChoices.ts
  apps/suref-web/supabase/migrations/20251119_add_multi_select_choices.sql
  packages/salvageunion-reference/action-differences-analysis.md
  packages/salvageunion-reference/action-duplicates-analysis.json
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/equipment.json
  packages/salvageunion-reference/lib/search.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/utilities-action-getters.test.ts
  packages/salvageunion-reference/lib/utilities.ts
  packages/salvageunion-reference/schemas/shared/objects.schema.json
  packages/salvageunion-reference/tools/analyzeActionDuplicates.ts
  packages/salvageunion-reference/tools/fixActionDuplicates.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

WP
  .cursor/plans/multi-select-choices-support-15b8e901.plan.md
Due: none

WIP
  apps/suref-web/supabase/migrations/20251119_add_multi_select_choices.sql
Due: none

cleanup
  apps/suref-web/src/components/entity/EntityDisplay/EntityActions.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Jarvis/multi choice (#75)
  apps/suref-web/src/components/CrawlerLiveSheet/SheetEntityChoiceDisplay.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityChoice.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityListDisplay.tsx
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  apps/suref-web/src/hooks/suentity/useManageEntityChoices.ts
  apps/suref-web/src/hooks/suentity/usePlayerChoices.ts
  apps/suref-web/src/lib/api/playerChoices.ts
  apps/suref-web/supabase/migrations/20251119_add_multi_select_choices.sql
  packages/salvageunion-reference/action-differences-analysis.md
  packages/salvageunion-reference/action-duplicates-analysis.json
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/equipment.json
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/search.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-action-getters.test.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
  packages/salvageunion-reference/lib/utilities.ts
  packages/salvageunion-reference/schemas/shared/objects.schema.json
  packages/salvageunion-reference/tools/analyzeActionDuplicates.ts
  packages/salvageunion-reference/tools/fixActionDuplicates.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

display actions filtering smarter
  apps/suref-web/src/components/entity/EntityDisplay/EntityActions.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

display actions filtering smarter (#76)
  apps/suref-web/src/components/entity/EntityDisplay/EntityActions.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

WIP
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/npcs.json
  packages/salvageunion-reference/data/squads.json
Due: none

Fix First Aid Kit
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/squads.json
Due: none

Great improvement of rendeirng text
  apps/suref-web/src/components/entity/EntityDisplay/ContentBlockRenderer.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityImage.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  packages/salvageunion-reference/lib/types/objects.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

More
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/npcs.json
  packages/salvageunion-reference/data/squads.json
Due: none

Fix
  packages/salvageunion-reference/data/actions.json
Due: none

WIP
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/bio-titans.json
  packages/salvageunion-reference/data/npcs.json
Due: none

WIP
  packages/salvageunion-reference/data/actions.json
Due: none

Fix it (#77)
  apps/suref-web/src/components/entity/EntityDisplay/ContentBlockRenderer.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityImage.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/bio-titans.json
  packages/salvageunion-reference/data/npcs.json
  packages/salvageunion-reference/data/squads.json
  packages/salvageunion-reference/lib/types/objects.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Path conditions:
  bun --filter suref-web run lint -- --fix: any of: apps/suref-web/src/**/*.{ts,tsx}
  bun --filter suref-web run format: any of: apps/suref-web/src/**/*.{ts,tsx}
  bun --filter suref-web run typecheck: any of: apps/suref-web/src/**/*.{ts,tsx}
  bun --filter suref-web run test: any of: apps/suref-web/src/**/*.{ts,tsx}
  bun --filter salvageunion-reference run lint -- --fix: any of: packages/salvageunion-reference/lib/**/*.{ts,tsx}
  bun --filter salvageunion-reference run format: any of: packages/salvageunion-reference/lib/**/*.{ts,tsx}
  bun --filter salvageunion-reference run typecheck: any of: packages/salvageunion-reference/lib/**/*.{ts,tsx}
  bun --filter salvageunion-reference run test: any of: packages/salvageunion-reference/lib/**/*.{ts,tsx}
