Repository alxjrvs/SUIndex: changes, and which lint-staged commands are due for each by the changed paths.
All: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

.lintstagedrc.json:

{
  "apps/suref-web/src/**/*.{ts,tsx}": [
    "bun --filter suref-web run lint -- --fix",
    "bun --filter suref-web run format",
    "bun --filter suref-web run typecheck",
    "bun --filter suref-web run test"
  ],
  "packages/salvageunion-reference/lib/**/*.{ts,tsx}": [
    "bun --filter salvageunion-reference run lint -- --fix",
    "bun --filter salvageunion-reference run format",
    "bun --filter salvageunion-reference run typecheck",
    "bun --filter salvageunion-reference run test"
  ]
}

WIP
  packages/salvageunion-reference/data/equipment.json
Due: none

Extend Missle Launcher (#78)
  packages/salvageunion-reference/data/equipment.json
Due: none

Cleanup
  docs/GRANTS_CHOICES_AUDIT.md
  docs/GRANTS_CHOICES_AUDIT_SUMMARY.md
  docs/GRANTS_CHOICES_PATTERNS.md
  docs/MONOREPO.md
  docs/NETLIFY_SETUP.md
  docs/TROUBLESHOOTING.md
  docs/WORKSPACE_VERIFICATION.md
Due: none

Improve class abilities
  apps/suref-web/src/components/PilotLiveSheet/ClassAbilitiesList.tsx
  apps/suref-web/src/components/PilotLiveSheet/index.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

WIP
  apps/suref-web/src/components/CrawlerLiveSheet/index.tsx
  apps/suref-web/src/components/MechLiveSheet/index.tsx
  apps/suref-web/src/components/PilotLiveSheet/CrawlerTab.tsx
  apps/suref-web/src/components/PilotLiveSheet/MechsTab.tsx
  apps/suref-web/src/components/PilotLiveSheet/PilotInfoInputs.tsx
  apps/suref-web/src/components/PilotLiveSheet/index.tsx
  apps/suref-web/src/components/shared/RoundedBox.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Resolve
  packages/salvageunion-reference/data/equipment.json
  packages/salvageunion-reference/lib/utilities.ts
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

WIP
  apps/suref-web/src/components/PilotLiveSheet/__tests__/advancedAbilities.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/classAbilities.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/classSelection.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/equipmentInventory.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/equipmentSystems.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/hydration.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/initialization.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/integration.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/localCache.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/notes.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/playerChoices.test.tsx
  apps/suref-web/src/components/PilotLiveSheet/__tests__/resourceManagement.test.tsx
  apps/suref-web/src/test/componentHelpers.tsx
  apps/suref-web/src/test/fixtures.ts
  apps/suref-web/src/test/liveSheetHelpers.ts
  apps/suref-web/src/test/liveSheetUtils.ts
  apps/suref-web/src/test/render.tsx
  apps/suref-web/src/test/setup.d.ts
  apps/suref-web/tsconfig.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

cleanup
  apps/suref-web/src/components/entity/EntityDisplay/ContentBlockRenderer.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityAbsoluteContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntitySubTitleContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/sharedDetailItem.tsx
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  apps/suref-web/src/components/entity/NestedChassisAbility.tsx
  apps/suref-web/src/lib/entityDataExtraction.ts
  apps/suref-web/src/utils/contentBlockHelpers.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Add disclaimer, un-hide button
  apps/suref-web/src/components/Dashboard/CrawlerSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/GameSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/MechSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/PilotSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/UserEntitySmallDisplay.tsx
  apps/suref-web/src/components/DiscordSignInButton.tsx
  apps/suref-web/src/components/shared/DeleteButton.tsx
  apps/suref-web/src/components/shared/LiveSheetBanner.tsx
  apps/suref-web/src/components/shared/LiveSheetLayout.tsx
  apps/suref-web/src/hooks/crawler/useCrawlers.ts
  apps/suref-web/src/hooks/mech/useMechs.ts
  apps/suref-web/src/hooks/pilot/usePilots.ts
  apps/suref-web/src/routeTree.gen.ts
  apps/suref-web/src/routes/super_secret_haven_login.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Add discord bot
  apps/suref-web/public/robo-su-example.png
  apps/suref-web/src/components/TopNavigation.tsx
  apps/suref-web/src/routeTree.gen.ts
  apps/suref-web/src/routes/randsum.tsx
  apps/suref-web/supabase/migrations/20250220_merge_classes_schema.sql
  apps/suref-web/supabase/migrations/20251119_add_multi_select_choices.sql
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Swap button order
  apps/suref-web/src/components/TopNavigation.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

fix link
  apps/suref-web/src/routes/randsum.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Proper link while netlfiy goes
  apps/suref-web/src/routes/randsum.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Target LCP:
  apps/suref-web/netlify.toml
  apps/suref-web/src/components/entity/EntityDisplay/EntityImage.tsx
  apps/suref-web/src/index.css
  apps/suref-web/src/routes/__root.tsx
  apps/suref-web/src/routes/randsum.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Add migrations
  apps/suref-web/supabase/migrations/20251201_fix_mechs_rls_performance.sql
  apps/suref-web/supabase/migrations/20251202_fix_rls_function_calls_performance.sql
  apps/suref-web/supabase/migrations/20251203_combine_multiple_permissive_policies.sql
  apps/suref-web/supabase/migrations/20251204_fix_function_search_path.sql
Due: none

Adjust LCP settings (#83)
  apps/suref-web/netlify.toml
  apps/suref-web/src/components/entity/EntityDisplay/EntityImage.tsx
  apps/suref-web/src/index.css
  apps/suref-web/src/routes/__root.tsx
  apps/suref-web/src/routes/randsum.tsx
  apps/suref-web/supabase/migrations/20251201_fix_mechs_rls_performance.sql
  apps/suref-web/supabase/migrations/20251202_fix_rls_function_calls_performance.sql
  apps/suref-web/supabase/migrations/20251203_combine_multiple_permissive_policies.sql
  apps/suref-web/supabase/migrations/20251204_fix_function_search_path.sql
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

No more dark mode
  apps/suref-web/src/components/TopNavigation.tsx
  apps/suref-web/src/components/shared/ThemeToggle.tsx
  apps/suref-web/src/providers/ThemeProvider.tsx
  apps/suref-web/src/routes/__root.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Lint
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

typefix
  packages/salvageunion-reference/lib/index.test.ts
  packages/salvageunion-reference/lib/search.test.ts
  packages/salvageunion-reference/lib/utilities-action-getters.test.ts
  packages/salvageunion-reference/lib/utilities-trait-parser.test.ts
  packages/salvageunion-reference/lib/utilities.test.ts
  packages/salvageunion-reference/lib/validation-extra-properties.test.ts
  packages/salvageunion-reference/tools/fixActionDuplicates.ts
  packages/salvageunion-reference/tools/generateObjectTypes.ts
  packages/salvageunion-reference/tools/generateSchemaTypes.ts
  packages/salvageunion-reference/tools/schemaAnalysis.ts
  packages/salvageunion-reference/tools/validateGenerated.ts
  tsconfig.base.json
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

lint
  packages/salvageunion-reference/lib/utilities.test.ts
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Lint
  apps/suref-web/src/components/entity/EntityDisplay/EntityActions.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityChassisPatterns.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityListDisplay.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  apps/suref-web/src/components/entity/EntityDisplay/buttonConfigHelpers.ts
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/entity/entityDisplayHelpers.ts
  packages/salvageunion-reference/lib/utilities.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

add missing choices
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/equipment.json
Due: none

cleanup action names
  packages/salvageunion-reference/action-duplicates-analysis.json
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/equipment.json
  packages/salvageunion-reference/data/modules.json
  packages/salvageunion-reference/data/systems.json
Due: none

Link
  apps/suref-web/src/routes/randsum.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Fix Expert Salvager
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  packages/salvageunion-reference/data/abilities.json
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/data/equipment.json
  packages/salvageunion-reference/schemas/index.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

a11y
  apps/suref-web/src/components/Dashboard/CrawlerSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/DashboardNavigation.tsx
  apps/suref-web/src/components/Dashboard/GameLiveSheet.tsx
  apps/suref-web/src/components/Dashboard/GameSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/GamesGrid.tsx
  apps/suref-web/src/components/Dashboard/JoinGame.tsx
  apps/suref-web/src/components/Dashboard/MechSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/PilotSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/UserEntitySmallDisplay.tsx
  apps/suref-web/src/components/TopNavigation.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  apps/suref-web/src/components/shared/NavigationLink.tsx
  apps/suref-web/src/components/shared/PermissionError.tsx
  apps/suref-web/src/routes/404.tsx
  packages/salvageunion-reference/tools/fixNumberedActions.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Virtualize
  apps/suref-web/src/components/entity/EntitySelectionModal.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Fix ability names, action names, and slow lists (#86)
  apps/suref-web/src/components/Dashboard/CrawlerSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/DashboardNavigation.tsx
  apps/suref-web/src/components/Dashboard/GameLiveSheet.tsx
  apps/suref-web/src/components/Dashboard/GameSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/GamesGrid.tsx
  apps/suref-web/src/components/Dashboard/JoinGame.tsx
  apps/suref-web/src/components/Dashboard/MechSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/PilotSmallDisplay.tsx
  apps/suref-web/src/components/Dashboard/UserEntitySmallDisplay.tsx
  apps/suref-web/src/components/TopNavigation.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  apps/suref-web/src/components/entity/EntitySelectionModal.tsx
  apps/suref-web/src/components/shared/NavigationLink.tsx
  apps/suref-web/src/components/shared/PermissionError.tsx
  apps/suref-web/src/routes/404.tsx
  packages/salvageunion-reference/tools/fixNumberedActions.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Basic func
  apps/suref-web/src/components/MechLiveSheet/MechEntityList.tsx
  apps/suref-web/src/components/MechLiveSheet/ModulesList.tsx
  apps/suref-web/src/components/MechLiveSheet/SystemsList.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityDisplayProvider.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityRightHeaderContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/entityDisplayContext.ts
  apps/suref-web/src/components/entity/EntityDisplay/index.tsx
  apps/suref-web/src/hooks/mech/useManageMechSystemsAndModules.tsx
  apps/suref-web/src/types/hydrated.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

add damanged state to systems and modules
  apps/suref-web/src/components/MechLiveSheet/MechEntityList.tsx
  apps/suref-web/src/components/entity/EntityDetailDisplay.tsx
  apps/suref-web/src/components/entity/EntityDisplay/ConditionalSheetInfo.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityDisplayProvider.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/entityDisplayContext.ts
  apps/suref-web/src/components/entity/EntityDisplay/index.tsx
  apps/suref-web/src/components/entity/EntityDisplay/sharedDetailItem.tsx
  apps/suref-web/src/components/shared/ValueDisplay.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Bump
  apps/suref-web/src/components/Dashboard/DashboardContent.tsx
  apps/suref-web/src/components/MechLiveSheet/MechEntityList.tsx
  apps/suref-web/src/components/TopNavigation.tsx
  apps/suref-web/src/components/shared/SheetDisplay.tsx
  apps/suref-web/src/routes/__root.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

add damaged state to systems and modules (#87)
  apps/suref-web/src/components/Dashboard/DashboardContent.tsx
  apps/suref-web/src/components/MechLiveSheet/MechEntityList.tsx
  apps/suref-web/src/components/MechLiveSheet/ModulesList.tsx
  apps/suref-web/src/components/MechLiveSheet/SystemsList.tsx
  apps/suref-web/src/components/TopNavigation.tsx
  apps/suref-web/src/components/entity/EntityDetailDisplay.tsx
  apps/suref-web/src/components/entity/EntityDisplay/ConditionalSheetInfo.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityDisplayProvider.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityRightHeaderContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/entityDisplayContext.ts
  apps/suref-web/src/components/entity/EntityDisplay/index.tsx
  apps/suref-web/src/components/entity/EntityDisplay/sharedDetailItem.tsx
  apps/suref-web/src/components/shared/SheetDisplay.tsx
  apps/suref-web/src/components/shared/ValueDisplay.tsx
  apps/suref-web/src/hooks/mech/useManageMechSystemsAndModules.tsx
  apps/suref-web/src/routes/__root.tsx
  apps/suref-web/src/types/hydrated.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Queries
  apps/suref-web/src/lib/logger.ts
  apps/suref-web/supabase/migrations/20250115_query_performance_optimizations.sql
  apps/suref-web/supabase/migrations/20250220_merge_classes_schema.sql
  apps/suref-web/supabase/migrations/20251119_add_multi_select_choices.sql
  packages/salvageunion-reference/schemas/classes.schema.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test
