Repository alxjrvs/SUIndex: changes, and which lint-staged commands are due for each by the changed paths.
All: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Lint
  apps/suref-web/src/lib/logger.ts
  packages/salvageunion-reference/schemas/classes.schema.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

ADd optimization queries (#88)
  apps/suref-web/supabase/migrations/20250115_query_performance_optimizations.sql
  apps/suref-web/supabase/migrations/20250220_merge_classes_schema.sql
  apps/suref-web/supabase/migrations/20251119_add_multi_select_choices.sql
Due: none

Fix links
  apps/suref-web/src/routes/randsum.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

WIP
  apps/suref-web/src/components/shared/PageReferenceDisplay.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Pilot
  .cursor/plans/pilot-creation-wizard-18705a7e.plan.md
  .gitignore
  apps/suref-web/src/components/Dashboard/EntityGrid.tsx
  apps/suref-web/src/components/PilotLiveSheet/ClassAbilitiesList.tsx
  apps/suref-web/src/components/PilotWizard/ClassSelectionStep.tsx
  apps/suref-web/src/components/PilotWizard/EntityDescription.tsx
  apps/suref-web/src/components/PilotWizard/EquipmentSelectionStep.tsx
  apps/suref-web/src/components/PilotWizard/PersonalizeStep.tsx
  apps/suref-web/src/components/PilotWizard/index.tsx
  apps/suref-web/src/components/PilotWizard/useCreatePilotFromWizard.ts
  apps/suref-web/src/components/PilotWizard/usePilotWizardState.ts
  apps/suref-web/src/components/PilotWizard/utils.ts
  apps/suref-web/src/components/entity/EntityDisplay/EntityChoices.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityDisplayProvider.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityImage.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityListDisplay.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/entityDisplayContext.ts
  apps/suref-web/src/components/entity/EntityDisplay/index.tsx
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  apps/suref-web/src/components/entity/entityDisplayHelpers.ts
  apps/suref-web/src/components/shared/EntityDisplayFooter.tsx
  apps/suref-web/src/components/shared/WizardBreadcrumbs.tsx
  apps/suref-web/src/routeTree.gen.ts
  apps/suref-web/src/routes/dashboard/pilots/new.tsx
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Mech wizard
  apps/suref-web/src/components/Dashboard/EntityGrid.tsx
  apps/suref-web/src/components/MechWizard/BudgetDisplay.tsx
  apps/suref-web/src/components/MechWizard/ChassisSelectionStep.tsx
  apps/suref-web/src/components/MechWizard/DetailsStep.tsx
  apps/suref-web/src/components/MechWizard/SystemsModulesStep.tsx
  apps/suref-web/src/components/MechWizard/index.tsx
  apps/suref-web/src/components/MechWizard/useCreateMechFromWizard.ts
  apps/suref-web/src/components/MechWizard/useMechWizardState.ts
  apps/suref-web/src/components/MechWizard/utils.ts
  apps/suref-web/src/routeTree.gen.ts
  apps/suref-web/src/routes/dashboard/mechs/new.tsx
  apps/suref-web/vite.config.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

WIP
  .cursor/rules/supabase-api.mdc
  apps/suref-web/netlify.toml
  apps/suref-web/src/components/CrawlerLiveSheet/CrawlerAbilities.tsx
  apps/suref-web/src/components/CrawlerLiveSheet/index.tsx
  apps/suref-web/src/components/CrawlerWizard/CrawlerBaysStep.tsx
  apps/suref-web/src/components/CrawlerWizard/CrawlerNameStep.tsx
  apps/suref-web/src/components/CrawlerWizard/CrawlerTypeSelectionStep.tsx
  apps/suref-web/src/components/CrawlerWizard/index.tsx
  apps/suref-web/src/components/CrawlerWizard/useCrawlerWizardState.ts
  apps/suref-web/src/components/CrawlerWizard/useCreateCrawlerFromWizard.ts
  apps/suref-web/src/components/CrawlerWizard/utils.ts
  apps/suref-web/src/components/MechLiveSheet/index.tsx
  apps/suref-web/src/components/PilotLiveSheet/index.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/entity/NestedChassisAbility.tsx
  apps/suref-web/src/components/entity/entityDisplayHelpers.ts
  apps/suref-web/src/components/shared/NPCCard.tsx
  apps/suref-web/src/components/shared/NPCCardChoice.tsx
  apps/suref-web/src/hooks/cargo/useCargo.ts
  apps/suref-web/src/hooks/crawler/useCrawlers.ts
  apps/suref-web/src/hooks/mech/useMechs.ts
  apps/suref-web/src/hooks/pilot/usePilots.ts
  apps/suref-web/src/hooks/suentity/usePlayerChoices.ts
  apps/suref-web/src/hooks/suentity/useSUEntities.ts
  apps/suref-web/src/hooks/useLiveSheetSubscriptions.ts
  apps/suref-web/src/hooks/useRealtimeSubscription.ts
  apps/suref-web/src/routeTree.gen.ts
  apps/suref-web/src/routes/__root.tsx
  apps/suref-web/src/routes/dashboard/crawlers/new.tsx
  apps/suref-web/supabase/migrations/20251205_fix_player_choices_game_member_permissions.sql
  apps/suref-web/supabase/migrations/20251206_fix_player_choices_insert_for_crawler_npcs.sql
  docs/ARCHITECTURE.md
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

WIP
  apps/suref-web/src/components/CrawlerLiveSheet/BayCard.tsx
  apps/suref-web/src/components/CrawlerLiveSheet/BayInfo.tsx
  apps/suref-web/src/components/CrawlerWizard/CrawlerBaysStep.tsx
  apps/suref-web/src/components/CrawlerWizard/CrawlerTypeSelectionStep.tsx
  apps/suref-web/src/components/CrawlerWizard/useCrawlerWizardState.ts
  apps/suref-web/src/components/CrawlerWizard/useCreateCrawlerFromWizard.ts
  apps/suref-web/src/components/CrawlerWizard/utils.ts
  apps/suref-web/src/components/Dashboard/EntityGrid.tsx
  packages/salvageunion-reference/data/crawlers.json
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Wizard
  apps/suref-web/src/components/CrawlerLiveSheet/BayCard.tsx
  apps/suref-web/src/components/CrawlerLiveSheet/BayInfo.tsx
  apps/suref-web/src/components/CrawlerLiveSheet/SheetEntityChoiceDisplay.tsx
  apps/suref-web/src/components/CrawlerWizard/CrawlerBaysStep.tsx
  apps/suref-web/src/components/CrawlerWizard/CrawlerNameStep.tsx
  apps/suref-web/src/components/CrawlerWizard/CrawlerTypeSelectionStep.tsx
  apps/suref-web/src/components/CrawlerWizard/index.tsx
  apps/suref-web/src/components/CrawlerWizard/useCrawlerWizardState.ts
  apps/suref-web/src/components/CrawlerWizard/useCreateCrawlerFromWizard.ts
  apps/suref-web/src/components/MechWizard/ChassisSelectionStep.tsx
  apps/suref-web/src/components/MechWizard/DetailsStep.tsx
  apps/suref-web/src/components/MechWizard/SystemsModulesStep.tsx
  apps/suref-web/src/components/MechWizard/index.tsx
  apps/suref-web/src/components/MechWizard/useMechWizardState.ts
  apps/suref-web/src/components/PilotWizard/ClassSelectionStep.tsx
  apps/suref-web/src/components/PilotWizard/EquipmentSelectionStep.tsx
  apps/suref-web/src/components/PilotWizard/PersonalizeStep.tsx
  apps/suref-web/src/components/PilotWizard/index.tsx
  apps/suref-web/src/components/PilotWizard/usePilotWizardState.ts
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  apps/suref-web/src/components/shared/BaseWizard.tsx
  apps/suref-web/src/components/shared/BayCard.tsx
  apps/suref-web/src/components/shared/BayInfo.tsx
  apps/suref-web/src/components/shared/EntityChoiceDisplay.tsx
  apps/suref-web/src/components/shared/WizardBreadcrumbs.tsx
  apps/suref-web/src/hooks/useBaseWizardState.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Lint
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

WIP
  apps/suref-web/src/components/CrawlerWizard/CrawlerTypeSelectionStep.tsx
  apps/suref-web/src/components/CrawlerWizard/useCrawlerWizardState.ts
  bun.lock
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

WIP
  apps/suref-web/src/components/PilotWizard/EntityDescription.tsx
  apps/suref-web/src/components/PilotWizard/useCreatePilotFromWizard.ts
  apps/suref-web/src/components/PilotWizard/utils.ts
  apps/suref-web/src/components/shared/BaseWizard.tsx
  apps/suref-web/src/hooks/useBaseWizardState.ts
  apps/suref-web/src/lib/logger.ts
  apps/suref-web/supabase/migrations/20250220_merge_classes_schema.sql
  apps/suref-web/supabase/migrations/20251119_add_multi_select_choices.sql
  packages/salvageunion-reference/schemas/classes.schema.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

WIP
  packages/salvageunion-reference/data/actions.json
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
Due: bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Lint
  apps/suref-web/src/components/PilotWizard/EntityDescription.tsx
  apps/suref-web/src/components/PilotWizard/useCreatePilotFromWizard.ts
  apps/suref-web/src/components/PilotWizard/utils.ts
  apps/suref-web/src/components/shared/BaseWizard.tsx
  apps/suref-web/src/hooks/useBaseWizardState.ts
  apps/suref-web/src/lib/logger.ts
  packages/salvageunion-reference/lib/index.ts
  packages/salvageunion-reference/lib/types/enums.ts
  packages/salvageunion-reference/lib/types/index.ts
  packages/salvageunion-reference/lib/types/objects.ts
  packages/salvageunion-reference/lib/types/schemas.ts
  packages/salvageunion-reference/lib/utilities-generated.ts
  packages/salvageunion-reference/schemas/classes.schema.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Jarvis/wizard2 (#91)
  apps/suref-web/supabase/migrations/20250220_merge_classes_schema.sql
  apps/suref-web/supabase/migrations/20251119_add_multi_select_choices.sql
  packages/salvageunion-reference/data/actions.json
Due: none

wip
  packages/salvageunion-reference/package.json
Due: none

chassis abilities styling
  apps/suref-web/src/components/entity/EntityDisplay/EntityChassisAbilitiesContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityChassisPattern.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  packages/salvageunion-reference/package.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

eliminate any
  apps/suref-web/eslint.config.js
Due: none

Cleanup
  apps/suref-web/src/components/ItemShowPage.tsx
  apps/suref-web/src/components/Reference/RulesReferenceLanding.tsx
  apps/suref-web/src/components/TopNavigation.tsx
  apps/suref-web/src/components/entity/EntityDisplay/ContentBlockRenderer.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityActions.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityChassisAbilitiesContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityDisplayProvider.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityImage.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntitySubTitleContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/entityDisplayContext.ts
  apps/suref-web/src/components/entity/EntityDisplayTooltip.tsx
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  apps/suref-web/src/components/entity/NestedChassisAbility.tsx
  apps/suref-web/src/components/schema/SchemaViewer.tsx
  apps/suref-web/src/components/shared/ReferenceHeader.tsx
  apps/suref-web/src/components/shared/UniversalSearchBar.tsx
  apps/suref-web/src/routes/index.tsx
  apps/suref-web/src/theme.ts
  packages/salvageunion-reference/lib/utilities.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Cleanup Entities (#92)
  apps/suref-web/eslint.config.js
  apps/suref-web/src/components/ItemShowPage.tsx
  apps/suref-web/src/components/Reference/RulesReferenceLanding.tsx
  apps/suref-web/src/components/TopNavigation.tsx
  apps/suref-web/src/components/entity/EntityDisplay/ContentBlockRenderer.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityActions.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityChassisAbilitiesContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityChassisPattern.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityDisplayProvider.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityImage.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntitySubTitleContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/EntityTopMatter.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/entity/EntityDisplay/entityDisplayContext.ts
  apps/suref-web/src/components/entity/EntityDisplayTooltip.tsx
  apps/suref-web/src/components/entity/NestedActionDisplay.tsx
  apps/suref-web/src/components/entity/NestedChassisAbility.tsx
  apps/suref-web/src/components/schema/SchemaViewer.tsx
  apps/suref-web/src/components/shared/ReferenceHeader.tsx
  apps/suref-web/src/components/shared/UniversalSearchBar.tsx
  apps/suref-web/src/routes/index.tsx
  apps/suref-web/src/theme.ts
  packages/salvageunion-reference/lib/utilities.ts
  packages/salvageunion-reference/package.json
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test, bun --filter salvageunion-reference run lint -- --fix, bun --filter salvageunion-reference run format, bun --filter salvageunion-reference run typecheck, bun --filter salvageunion-reference run test

Colors
  apps/suref-web/src/components/Reference/RulesReferenceLanding.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/shared/EntityContainer.tsx
  apps/suref-web/src/components/shared/ReferenceHeader.tsx
  apps/suref-web/src/theme.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Color Tweaks (#93)
  apps/suref-web/src/components/Reference/RulesReferenceLanding.tsx
  apps/suref-web/src/components/entity/EntityDisplay/components/EntityDisplayContent.tsx
  apps/suref-web/src/components/shared/EntityContainer.tsx
  apps/suref-web/src/components/shared/ReferenceHeader.tsx
  apps/suref-web/src/theme.ts
Due: bun --filter suref-web run lint -- --fix, bun --filter suref-web run format, bun --filter suref-web run typecheck, bun --filter suref-web run test

Path conditions:
  bun --filter suref-web run lint -- --fix: any of: apps/suref-web/src/**/*.{ts,tsx}
  bun --filter suref-web run format: any of: apps/suref-web/src/**/*.{ts,tsx}
  bun --filter suref-web run typecheck: any of: apps/suref-web/src/**/*.{ts,tsx}
  bun --filter suref-web run test: any of: apps/suref-web/src/**/*.{ts,tsx}
  bun --filter salvageunion-reference run lint -- --fix: any of: packages/salvageunion-reference/lib/**/*.{ts,tsx}
  bun --filter salvageunion-reference run format: any of: packages/salvageunion-reference/lib/**/*.{ts,tsx}
  bun --filter salvageunion-reference run typecheck: any of: packages/salvageunion-reference/lib/**/*.{ts,tsx}
  bun --filter salvageunion-reference run test: any of: packages/salvageunion-reference/lib/**/*.{ts,tsx}
